.task {
  list-style: none;
  color: $primary-dark;
  background-color: $tertiary;
  border-radius: 3px;
  font-size: 2rem;
  margin: 1rem;
  padding: 2rem 4rem;
  min-width: 75%;
  box-shadow: 1rem 1rem 1rem $primary-dark;
  text-align: left;

  &-checkbox {
    display: none;
  }

  &-checkbox:checked ~ label {
    z-index: 3;
    opacity: 0;
  }

  &-checkbox:checked ~ &-card > .minimize-card {
    display: block;
    opacity: 1;
    z-index: 0;
    top: 1rem;
    right: 2rem;
  }

  &-checkbox:checked ~ &-card > &-data {
    opacity: 1;
    left: 2rem;
    z-index: 0;
  }

  &-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &-open {
      position: fixed;
      z-index: 2;
      animation: open-card 1s;
    }

    &-background {
      background-color: $tertiary;
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    .minimize-card {
      opacity: 0;
      color: $primary-dark;
      position: fixed;
      top: -20rem;
      right: -20rem;
      font-size: 5rem;
      cursor: pointer;
      transition: all 1.5s ease-out;
      z-index: -1;
    }
  }

  label {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
    cursor: pointer;
  }
  &-data {
    opacity: 0;
    position: fixed;
    top: 0;
    left: -50rem;
    transition: left 2s;
    z-index: -1;

    &-title {
      position: relative;
      top: 15rem;
      left: 2rem;
      font-size: 5rem;
    }

    &-frequency {
      position: relative;
      left: 6rem;
      top: 32rem;
      font-size: 4rem;
    }

    &-assignee {
      position: relative;
      left: 6rem;
      top: 20rem;
      font-size: 4rem;
    }

    &-status {
      position: relative;
      left: 6rem;
      top: 8rem;
      font-size: 4.5rem;
    }
  }
}

@keyframes open-card {
  0% {
    height: 4rem;
    width: 75%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
  }
}